* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* mode Dark */
[data-theme="light"] {
  --background: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);

  --text: rgb(0, 0, 0);
  --sub-text: #584e4e;

  --bg-caja: rgb(255, 255, 255);
}

[data-theme="dark"] {
  --background: linear-gradient(to bottom, #434343 0%, black 100%);

  --text: rgb(255, 255, 255);
  --sub-text: #c89735;

  --bg-caja: rgb(163, 162, 162);
}

body {
  background: var(--background);
  color: var(--text);
  transition: all 1.5s ease;
}


/* Barra de NAV */
.navbar {
  padding: 2rem;
  background-color: #e7e7e7;
  border-bottom:1px solid #868443;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.nav-item{
  font-size: 18px;
  font-weight: bold;
  color: #1b1b32;
}

.logo-nav {
  width: 100px;
  height: 80px;
  border-radius: 20px;
}

/* boton Dark */
#modeDark {
  display: none;
}

#labelModeDark {
  margin: 20px;
  font-size: 2rem;
  color: #c89735;
  cursor: pointer;
}

/* Estilo Generales */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;;
}

.seccion-oscura {
  background-color: #1b1b32;
  color: white;
}

.seccion-clara {
  color: var(--text);
  background-color: transparent;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-decoration: underline;
}

.seccion-decripcion {
  font-size: 1.2rem;
  color: var(--sub-text);
}

.seccion-texto {
  font-size: 1.2rem;
  margin: 0 10px;
  text-align: justify;
  color: #f5f6f7;
}

.btc-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: var(--text);
}

.texto-blanco {
  color: white;
}

/* Seccion HERO */
.hero {
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: var(--sub-text);
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 20px;
}

/* Sobre mi */
.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Experiencia */
.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: rgb(255, 255, 255);
  background-color: #1b1b32;
}

.experiencia i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #353538;
  padding: 8px 19px;
  border-radius: 50%;
}


.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
  text-decoration: underline;
}

/* badges */
.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/* Proyectos */
.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}
.proyecto {
  position: relative;
  margin: 25px 10px;
}

.proyecto:hover img {
  opacity: 0.2;
  border-radius: 50px;
  box-shadow: 0px 5px 5px 5px #000000;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay i {
  color: var(--text);
  font-size: 60px;
  margin: 10px;
}

/* Certificados */
.certificados {
  min-height: 500px;
  padding: 30px;

}

.certificados .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
  background: var(--bg-caja);
}

.card-header {
  font-weight: bold;
}

.list-group-item {
  font-size: 1rem;
  font-weight: bold;
  
}

/* curriculum */
.curriculum {
  min-height: 500px;
  padding: 30px;

}

.curriculum .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
  background: var(--bg-caja);
}

.card-header {
  font-weight: bold;
}

.list-group-item {
  font-size: 1rem;
  font-weight: bold;
  
}

/* Testimonio */
.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-carrusel {
  height: 300px;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 1px solid #1b1b32;
  margin-bottom: 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 18px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
  margin-bottom: 150px;
}

/* contactos */
.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectanguo {
  margin-top: -5rem;
  padding: 30px;
  background-color: rgb(79, 79, 79);
  box-shadow: 0px 1px 4px 1px white;
  border-radius: 10px;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
  
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  padding: 1.25em 2em;
  border-radius: 20px;
  border: 2px solid white;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  margin: 10px;
}

.contacto button i {
  color:white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button:hover i {
  color: black;
}
 /* footer (pie de pagina) */

footer {
  min-height: 500px;
}

.footer-icono {
  height: 80px;
  width: 80px;
  margin: 10px;
  border-radius: 20px;
}
.footer-text {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
}

.iconos-redes-sociales a:hover i {
  color: #000000;
}

.derecho-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsivo) */
@media screen and (max-width:400px) {
  .overlay p {
    font-size: 18px;
  }
  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }

  .logo-nav {
    width: 100px;
    height: 80px;
    border-radius: 20px;
    
  }
}

@media screen and (min-width:700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}

